<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="aos-by-red.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
    <script >
      window.onload=function(){//from ww  w . j  a  va2s. c  o  m
  var today = new Date().toISOString().split('T')[0];
  document.getElementsByName("date_book")[0].setAttribute('min', today);
      }
  
        </script> 
    <title>IIITDMJ BUS SERVICE</title>
  </head>
 
  <body>
    <nav>
      <div class="navi"> 
        <div class="im">
          <img src="/images/bus.jpg" alt="logo" />
        </div>
        <div class="head">
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </div>

      <div class="bus" id="bus">
        <div class="upper" id="upper">
          <img src="/images/16518.png" alt="bus" />
        </div>
      </div>
    </nav>

    <div class="contain">
      <div
        class="card"
        id="first"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-once="true"
      > 
        <img src="/images/1.jpg" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Check Available Seats</h5>
         
            <form action="action5" method="post">
              <p class="card-text">
                <label class="form-label" for="form2Example22">To :</label>
                <select name="drop_point" class="places">
                  <option value="op" name="drop_point"><%= title1 %> </option>
                  <option value="Institute" name="drop_point">Institute</option>
                  <option value="City" name="drop_point">City</option>
                  <span id="message1" style="color:red"> </span>
                 
              </select>
            <input type="date" id="txtName" class="form-control"  min="<?= date('Y-m-d'); ?>" name="date_book" placeholder="dd/mm/yyyy" value=" <%= title3 %> " required />
            <select name="departure_time" class="places1">
              <option value="op" name="departure_time"> <%= title2 %> </option>
              <option value="3:30 PM" name="departure_time">3:30 PM</option>
              <option value="4:45 PM" name="departure_time">4:45 PM</option>
              <span id="message3" style="color:red"> </span>
          </select>
        </p>
        <p>
        <span id="message" style="color:red"></span>
        <span id="message4" style="color:red"><%= title %> </span>
        </p>
          <button onclick="Validate1()" type="submit" value="submit" id="check" class="btn btn-primary">Check</button>
          
        </form>
     
        </div>
      </div>
      <div
        class="card"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <img src="/images/2.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Schdule</h5>
          <p class="card-text">
            Check The TimeTable of the Bus Service.
          </p>
          <a href="/timetable" class="btn btn-primary">Check</a>
        </div>
      </div>
      <div
        class="card"
        id="third"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <img src="/images/3.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Cancelation Of tiCket</h5>
          <p class="card-text">
            Cancel Your Ticket.
          </p>
          <a href="/cancel" class="btn btn-primary">Go Here</a>
        </div>
      </div>
    </div>
    <div class="text">
      <div class="container">
        <h1>BUS SERVICE</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
          deleniti maxime, amet iste ex provident officiis repellat delectus
          quaerat cumque, magni unde adipisci aspernatur perferendis accusantium
          quasi laborum, atque fugiat odio itaque voluptatem sint nemo.
          Reprehenderit optio totam non suscipit temporibus ipsum officia magni
          enim. Dignissimos similique saepe delectus officia eaque magni
          laudantium, quidem, excepturi, velit accusamus quam animi enim eos
          nisi quod cum? Labore deserunt quae ipsam animi eius fugiat, dolore
          earum! Voluptatem quae officiis, suscipit et incidunt inventore eum
          quidem eaque sit magnam accusamus illum. Voluptatibus nobis ipsum
          temporibus quas suscipit, nihil fugit? Cum quibusdam inventore magnam,
          cupiditate architecto ipsum at animi ad minus quisquam id sequi sunt
          ipsa qui dolore laboriosam veniam perspiciatis velit. Explicabo
          voluptas ullam saepe quisquam nulla repellat consequuntur voluptatum
          veritatis, nostrum deleniti quidem! Voluptatibus ea neque saepe
          cupiditate quidem hic repellat libero fuga deserunt! Earum dolores
          perferendis, tempora enim deserunt quo sit! Veritatis, ipsam atque aut
          inventore placeat quam ullam laborum suscipit porro vitae!
          Necessitatibus culpa facilis quod, possimus ut delectus rem unde
          cumque beatae. Odit similique velit dolores repellendus non harum
          quibusdam reprehenderit consequuntur cum, quia assumenda nulla nobis
          iure provident unde iusto aliquid molestiae repellat. Et inventore
          dolore cupiditate officiis repudiandae.
        </p>
      </div>
    </div>
    <section class="parallax">
      <div class="ban">
        <!-- <h1>PARALLAX</h1> -->
      </div>
    </section>
    <div class="text2" id="extraservice">
      <div class="container">
        <h1>Extra Services</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
        mollitia minima consequuntur voluptatem vel, eaque nobis officia sunt
        veritatis eligendi necessitatibus doloribus illum earum ipsum atque eum
        unde quos, ut accusamus. Ducimus voluptatem exercitationem ipsum! Facere
        laboriosam veniam, quisquam placeat quis blanditiis aspernatur similique
        iusto error est earum a delectus corrupti ipsum rerum suscipit,
        repudiandae, illum tenetur enim non cum libero dignissimos? Animi quas,
        dignissimos vitae sapiente, pariatur deleniti quam adipisci fugiat
        corporis labore eveniet laborum quasi hic consectetur ex dolore nostrum
        repudiandae expedita. Magnam ut accusamus, labore, at aliquid obcaecati
        saepe omnis odio fugit quas delectus minima eius voluptatem ipsum animi
        amet, nisi et beatae. Eveniet provident, a eos necessitatibus impedit
        soluta voluptatibus, blanditiis doloribus velit placeat quis saepe? Eum,
        accusamus sit dolorem nam, debitis libero, fuga nemo cum illo ipsa
        placeat dicta modi enim exercitationem autem porro error. Illo cumque
        dignissimos molestias dolores veritatis eveniet atque a libero id
        debitis, corporis aperiam laborum magni pariatur voluptas dolore
        perferendis nisi placeat voluptate soluta iste sed quas. Ullam iure
        aspernatur, explicabo reprehenderit vitae nostrum quisquam libero modi
        aliquid laboriosam dignissimos eum, minima provident porro ea cum
        ducimus pariatur corrupti blanditiis molestias temporibus et,
        necessitatibus beatae? Hic cupiditate aspernatur laudantium ea. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dicta
        iusto cumque doloremque iste quisquam eius vero quia earum dolorem,
        esse, inventore illo? Aliquid consequuntur facilis in eaque, deserunt,
        molestias facere nemo sint fuga harum dolore alias aspernatur officia
        laudantium nesciunt amet, dignissimos quod! Deleniti est quos
        praesentium minima deserunt repellat odit nam porro hic beatae
        aspernatur similique reiciendis enim, inventore exercitationem eos
        dolore voluptate quo perspiciatis maiores tempore quas autem. Maxime
        minima, beatae eaque reiciendis distinctio dolor eveniet ullam
        accusantium tempora consequuntur voluptatibus commodi iusto nobis
        voluptatem dolorum! Est explicabo blanditiis quae amet nisi a modi
        corrupti fugit! Nisi at illum, quas quod vitae, eveniet maxime enim,
        quia eum dolor sint commodi. Corporis veritatis dolorum officia sit,
        dolor corrupti, necessitatibus eveniet quidem esse, ipsa similique at ea
        perferendis quae blanditiis rem minus alias doloremque impedit tempore
        eligendi saepe qui. Eius deserunt numquam magni cumque consequatur
        adipisci praesentium aperiam molestiae. Minima praesentium cupiditate
        similique dolorum eos, beatae ullam! Dolore praesentium voluptate
        reiciendis, architecto eos nihil ea, eum tempore asperiores magni vitae
        voluptas excepturi odio. Dolor qui beatae cupiditate, voluptatem modi
        vero alias optio adipisci veritatis, possimus quo quae. Alias iure
        voluptate corrupti excepturi minima ex quidem. Asperiores qui sit sed.
      </div>
    </div>
    <!-- <div class="foot">
      <div class="photo">
        <div class="photo1 ss">
          <img src="/images/shubh.jpg" alt="">
        </div>
        <div class="photo1 photo2">
          <img src="/images/soham.jpg" alt="">
        </div>
        <div class="photo1 ss">
          <img src="/images/somil.jpg" alt="">
        </div>
      </div> 
    </div> -->
    <script src="/javascripts/script.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 3000,
        once: true,
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/seats.js"></script>
  </body>
</html>
